<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range sort .Site.Menus.main -}}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
        {{- end }}

        {{- if .Site.Params.EnableGlobalLanguageMenu }}
        <div class="submenu">
        <li class="dropdown">
            <a class="dropbtn">{{ .Language }}</a>
            <ul class="dropdown-content">
                {{ if .Site.IsMultiLingual }}
                    {{ range $.AllTranslations }}
                    <li>
                        <a title="{{ .Language }}" hreflang="{{ .Language }}" href="{{ .Permalink }}">{{ .Language }}</a>
                    </li>
                    {{ end }}
                {{ end }}
            </ul>
        </li>
        </div>
        {{- end }}
    </ul>
</nav>
